<nav>
  <div class="nav-wrapper">
    <div class="logo-container">
      <a href="https://jaktourband.vercel.app/"><img src="../images/logo.png" class="logo" loading="lazy" /></a>
    </div>
    <nav>
      <input class="hidden" type="checkbox" id="menuToggle" />
      <label class="menu-btn" for="menuToggle">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
      </label>
      <div class="nav-container">
        <ul class="nav-tabs">
          <li class="nav-tab">
            <a href="https://jaktourband.vercel.app/">Home</a>
          </li>
          <li class="nav-tab">
            <a href="#about">About</a>
          </li>
          <li class="nav-tab">
            <a href="#member">Member</a>
          </li>
          <li class="nav-tab">
            <a href="/pages/songlist.html">Song List</a>
          </li>
          <!-- <li class="nav-tab">
            <a href="/pages/chords.html">Chords</a>
          </li> -->
          <li class="nav-tab">
            <a href="/pages/religi.html">Religi</a>
          </li>
          <li class="nav-tab">
            <a href="/pages/gallery.html">Gallery</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
